.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  a {
    color: #ffffff;
  }

  .header-list {
    flex-direction: row;
  }

  a:hover {
    color: red;
  }
  